<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  {% seo %}
  <link rel="icon" type="image/png" href="{{ site.icon_img }}">
  <link rel="shortcut icon" type="image/png" href="{{ site.icon_img }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
  <div id="about">
    <div class="name-zone">
      <h1>{{ site.name }}</h1>
      <h2>{{ site.job }}</h2>
    </div>
  </div>
  <div id="contents">
    <h2>Site Data</h2>
    <pre>{{ site.data | jsonify }}</pre>
    <ul>
      {% for subject in site.data %}
        {% assign subject_data = subject[1] %}
        <li class="subject">
          <h2>{{ subject_data.subject }}</h2>
          <ul>
            {% for content in subject_data.contents %}
              <li class="item">
                <h3>{{ content.title }}</h3>
                <ul>
                  {% for description in content.description %}
                    <li>{{ description }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="footer">
    <span>Copyright © 2024 | <a href="https://github.com/byanko55">Yankos</a></span>
  </div>
</body>
<script src="{{ '/assets/js/main.js' }}"></script>
</html>
