<!DOCTYPE html>
<html lang="en">
{% assign meta = "" | split: "" %}
{% for yml_file in site.data %}
  {% assign meta = meta | push:yml_file[1] %}
{% endfor %}
{% assign meta = meta | sort: 'listing-order' %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  {% seo %}

  <link rel="icon" type="image/png" href="{{ site.icon_img }}">
  <link rel="shortcut icon" type="image/png" href="{{ site.icon_img }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
  <div id="sidebar">
    <ul class="toc-box"></ul>
  </div>
  <div id="about">
    <div class="profile-zone">
      <img class="profile-img" src="{{ site.profile_img }}" alt="My Photo">
      <ul class="personal-info">
        {% if site.phone_number %}
        <li><a aria-label="My Phone">
          <img src="{{ '/assets/img/phone.svg' }}" alt="My Phone Number">
          <div><span>{{ site.phone_number }}</span></div>
        </a></li>
        {% endif %}
        {% if site.address %}
        <li><a aria-label="My Address" href="https://www.google.com/maps/search/{{ site.address }}">
          <img src="{{ '/assets/img/location-dot.svg' }}" alt="My Address">
          <div><span>{{ site.address }}</span></div>
        </a></li>
        {% endif %}
      </ul>
    </div>
    <div class="name-zone">
      <h1>{{ site.name }}</h1>
      <h2>{{ site.job }}</h2>
    </div>
  </div>
  <div id="contents">
    <ul>
      {% for subject in meta %}
        <li class="subject" id="{{ subject.subject }}">
          <h2 class="subject-name">
            {{ subject.subject }}
          </h2>
          <ul>
              {% for member in subject.contents %}
              <li class="item">
                  <div class="content-header">
                    {{ member.title | markdownify }}
                    {% if member.date %}
                      <span class="content-date">
                        <img src="{{ '/assets/img/calendar.webp' }}" alt="date">
                        {{ member.date }}
                      </span>
                    {% endif %}
                  </div>
                  {% for item in member %}
                    {% if item[0] != "title" and item[0] != "date" %}
                      {% if item[1].first %}
                        <ul>
                          {% for subitem in item[1] %}
                          <li class="subitem">
                            {{ subitem | markdownify }}
                          </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        {{ item[1] | markdownify }}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              </li>
              {% endfor %}
          </ul>
        </li>
      {% endfor %}
      
      <!-- Section for Sourdough -->
      <li class="subject" id="sourdough">
        <h2 class="subject-name">
          Sourdough
        </h2>
        <ul>
          <li class="item">
            <div class="content-header">
              <h3><a href="/sourdough.html">Explore Sourdough!</a></h3>
            </div>
            <div class="content-description">
              <p>Discover the world of sourdough bread.</p>
              <p>Check those bubbles!! </p>
            </div>
          </li>
        </ul>
      </li>

      <!-- Section for Cakes -->
      <li class="subject" id="cakes">
        <h2 class="subject-name">
          Cakes
        </h2>
        <ul>
          <li class="item">
            <div class="content-header">
              <h3><a href="/cakes.html">Explore Cakes!</a></h3>
            </div>
            <div class="content-description">
              <p>Discover a variety of delicious cakes.</p>
              <p>The most delightful cakes you will ever taste :) </p>
            </div>
          </li>
        </ul>
      </li>

      <!-- Section for Bread -->
      <li class="subject" id="bread">
        <h2 class="subject-name">
          Bread
        </h2>
        <ul>
          <li class="item">
            <div class="content-header">
              <h3><a href="/bread.html">Explore Bread!</a></h3>
            </div>
            <div class="content-description">
              <p>Discover a variety of freshly baked bread.</p>
              <p>The most delicious bread you will ever enjoy :) </p>
            </div>
          </li>
        </ul>
      </li>

      <!-- Section for Fancy -->
      <li class="subject" id="fancy cakes">
        <h2 class="subject-name">
          Fancy
        </h2>
        <ul>
          <li class="item">
            <div class="content-header">
              <h3><a href="/fancy.html">Explore Fancy cakes!</a></h3>
            </div>
            <div class="content-description">
              <p>Discover a variety of fancy treats.</p>
              <p>The most exquisite fancy cakes you will ever encounter!! </p>
            </div>
          </li>
        </ul>
      </li>

    </ul>
  </div>
  <div id="footer">
    <span>
      Copyright © 2024 | <a href="https://github.com/byanko55">Yankos</a>
    </span>
  </div>
</body>
<script src="{{ '/assets/js/main.js' }}"></script>
</html>
